@import url('https://fonts.googleapis.com/css2?family=Rubik+Mono+One&display=swap');


* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    text-shadow: 4px 4px 2px rgba(0,0,0,0.44);
}

body {
    font-family: "Rubik Mono One", monospace;
    background-color: #500A0A;
    height: 100%;
}

header {
    background-color: #310404;
    height: 140px;
    width: 100%;
    display: flex;
    flex-direction: row;
    align-items: center; 
    justify-content: center;
    position: relative;
    color: white;
    
}
.logo{
    display: flex;
    float: left;
    position: absolute;
    left: 15px;
    width: 100px;
    height: 100px;
    }



.row-1{
    display: flex;
    gap: 60px;
    margin-top: 75px;
    align-items: center;
    justify-content: center;
   
}
.row-2{
    display: flex;
    gap: 60px;
    margin-top:75px ;
    align-items: center;
    justify-content: center;
   
}
.row-3{
    display: flex;
    gap: 60px;
    margin-top: 75px;
    align-items: center;
    justify-content: center;
   
}